@CHARSET "UTF-8";


.dainstPluginLog {
	margin-top: 10px
}

input[type=checkbox] ~ .dainstPluginLog .alert-info {
	display:none
}

input[type=checkbox]:checked ~ .dainstPluginLog .alert-info {
	display:block
}

.alert .timestamp  {
	margin-right: 2em
}

.dfmTextrea {
	width: 100%
}

#toggleDebugInfo {
	display:none
}