@CHARSET "UTF-8";


.dainstPluginLog {
	border: 1px solid silver; 
	border-radius: 3px; 
	padding: 0.6em
}

input[type=checkbox] ~ .dainstPluginLog .alert-info {
	display:none
}

input[type=checkbox]:checked ~ .dainstPluginLog .alert-info {
	display:block
}

.alert .timestamp  {
	margin-right: 2em
}

.dfmTextrea {
	width: 100%
}

#toggleDebugInfo {
	display:none
}