#as {
    margin-bottom: 1em
}

.as-mode {
    border-radius: 0px 0px 3px 3px;
    border: 1px solid black;
    border-top: none;
}

.as-select-selected {
    display:none
}
.as-select-headline {
    font-weight: bold;
    padding: 5px;
    text-align: center;
    background: silver;
    font-size: medium;
}
.as-select-back {
    text-align: right;
    font-style: italic;
    font-size: small
}
.as-select-item {
    padding: 5px;
    font-size: medium
}

#as-filter {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

#as-select {
    width: 100%;
    height: 30px
}
.as-headline {
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
    background: #286090;
    padding: 5px 0px
}
#as-idlist li a {
    font-style: italic;
    font-size: small
}

#as-tabs {
    text-align: right;
    border-bottom: 1px solid black

}

#as-tabs a {
    background: silver;
    font-style: italic;
    font-size: small;
    text-align:right;
    padding: 3px 3px 1px 3px;
    color: black;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid black;
    border-bottom: none;
}

#as-tabs a:focus,
#as-tabs a:visited,
#as-tabs a:hover {
    text-decoration: none
}

#as-tabs a.as-tabs-selected {
    background: #286090;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #286090;
    color: white;
    cursor: default;
}

#as-mode-input textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid silver
}

#as-input-type input[type="radio"] {
    display: none
}

#as-input-type input[type="radio"] + label {
    border-radius: 3px 3px 3px 3px;
    padding: 4px;
    background: silver;
    border: 1px solid grey;
    cursor: pointer;
    margin-left: 2px
}

#as-input-type input[type="radio"]:checked + label {
    background: #286090;
    border: 1px solid #286090;
    color: white
}